@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#06202A] text-gray-200;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
